@import "../node_modules/bootstrap/scss/bootstrap"; 
  
  body {
    width: 24rem;
    /* background-color: $gray-500; */
    /* padding: 1rem; */
  }
  


  .navbar {
    background-color: $gray-300;
    position: fixed;
    width: 100%;
    // z-index: 100;
    margin-bottom: 5%;
  }

  .navbar .navbar-brand {
    padding-left: 20px !important; 
  }

  .card {
    position: relative;
    top: 25px;
    /* or whatever height your navbar is */
  }
  
  ul {
    background: #80808030;
    list-style-type: none;
    padding-inline-start: 0;
    // margin: 1rem 0;
  }
  
  li {
    padding: 0.25rem;
  }
  li:nth-child(odd) {
    background: #ffffff;
  }
  li:nth-child(even) {
    background: #ffffff;
  }
/* 
  .data_container {
    border-radius: 20%;
    padding: 1.15rem;

  } */
  
  /* .header_data {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */

  .group {
    margin-left: auto;
  }

  .header-text-size {
    font-size: 1.15rem;
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides any overflowing text */
    text-overflow: ellipsis; /* Adds ... at the end of the line */
    max-width: 200px; /* Optional: set a max-width to limit the width of the text */

  }

  .tab-text-size {
    font-size: 1rem;
  }
